

interface GigabitEthernet{{ vpn_int }}
 no ip address
 negotiation auto
 no mop enabled
 no mop sysid

interface GigabitEthernet{{ vpn_int }}.{{ vpn }}
 encapsulation dot1Q {{ vpn }}
 ip address {{ interface }} 255.255.255.252
 
router bgp {{ local_as }}
 bgp log-neighbor-changes
 neighbor {{ neighbor }} remote-as {{ remote_as }}
 !
 address-family ipv4
  neighbor {{ neighbor }} activate
  neighbor {{ neighbor }} as-override
  neighbor {{ neighbor }} allowas-in 1
 exit-address-family
 !

!
ip route 0.0.0.0 0.0.0.0 {{ neighbor }}
!
!
!