
ipsla 
 operation 10 
  type icmp echo 
   vrf CUST{{ vpn }}
   source address {{ interface }}
   destination address {{ neighbor }}
   frequency 5 
  ! 
 ! 
 schedule operation 10 
  start-time now 
  life forever 







