address-family ipv4 unicast
!
address-family ipv6 unicast
!
vrf CUST{{ vpn }}
 address-family ipv4 unicast
  import route-target
   {{ local_as }}:{{ vpn }}
  !
  export route-target
   {{ local_as }}:{{ vpn }}
  !
  maximum prefix 1000 80
 !
 address-family ipv6 unicast
  import route-target
   {{ local_as }}:{{ vpn }}
  !
  export route-target
   {{ local_as }}:{{ vpn }}
  !
  maximum prefix 1000 80
 !
!
interface loopback 0
  description bgp router id
  ipv6 address fd12:0:0:1::{{ ip6 }}/128
  ipv6 address fd12:0:0:31::{{ ip6 }}/128
!
interface GigabitEthernet0/0/0/{{ vrf_int }}
 ipv6 enable
!
interface GigabitEthernet0/0/0/{{ vrf_int }}.{{ vpn }}
 vrf CUST{{ vpn }}
 ipv4 address {{ interface }} 255.255.255.252
 ipv6 address fd12:0:0:{{ vpn }}::{{ ipv6 }}/64
 encapsulation dot1q {{ vpn }}
!
route-policy PASS
  pass
end-policy
!
router static
 address-family ipv4 unicast
  0.0.0.0/0 172.16.253.4
 !
 
 vrf CUST{{ vpn }}
  address-family ipv4 unicast
   10.1.0.0/16 {{ neighbor }}
   10.2.0.0/16 {{ neighbor }}
   10.3.0.0/16 {{ neighbor }}
  !
  address-family ipv6 unicast
   fd12:100:1::/48 fd12:0:0:{{ vpn }}::2
   fd12:100:2::/48 fd12:0:0:{{ vpn }}::2
!
router bgp {{ local_as }}
 address-family vpnv4 unicast
 !
 address-family vpnv6 unicast
 !
 neighbor {{ peer_ip }}
  address-family vpnv4 unicast
  !
  address-family vpnv6 unicast
  !
 !
 vrf CUST{{ vpn }}
  rd {{ local_as }}:{{ vpn }}
  address-family ipv4 unicast
   redistribute connected
  !
  address-family ipv6 unicast
   redistribute connected
  !
  neighbor {{ neighbor }}
   remote-as {{ vpn_as }}
   address-family ipv4 unicast
    route-policy PASS in
    allowas-in 1
    route-policy PASS out
    as-override
   !
   address-family ipv6 unicast
    route-policy PASS in
    allowas-in 1
    route-policy PASS out
    as-override
   !





 
  

 